%fieldset
  = form_tag login_path, :class => "form-horizontal", :role => "form", :id => "login_form" do
    %fieldset
      .form-group
        %label{:for=>"login_field", :class => "col-md-2 control-label"} Login
        .col-md-10
          = text_field_tag "user[login]", "", :class => "form-control", :id => "login_field"
          %span.help-block 输入能联系到您的Email地址

      .form-group
        %label{:for=>"password", :class => "col-md-2 control-label"} 密码
        .col-md-10
          = password_field_tag "user[password]", "", :class => "form-control", :id => "password_field"
          %span.help-block 这里输入您的密码


      .form-group
        .col-md-2
        .col-md-10
          = submit_tag "登陆", :class => "btn btn-primary", :id => "submit_button"
