.settings.index_page
  .container
    .row
      %ul.list-group.xcm-list-group
        %li.list-group-item
          .xcm_item_icon
            地区:
          .xcm_item_name_and_desc
            = O2oSetting.province
            -
            = O2oSetting.city

          .xcm_actions.pull-right
          .clearfix


